
@use '../../styles/defaultColors' as colors;
@use '../../styles/defaultFonts' as fonts;

.deviceShareContainer {
    display: flex;
}

.deviceShareElement {
    display: inline-flex;
    justify-content: center;
    padding: 8px;
    align-items: center;
    gap: 16px;
    font-family: fonts.$font-family;
    font-size: fonts.$px24;
    font-weight: fonts.$regular;
    
    &.--mobile {
        border-top-left-radius: 99px;
        border-bottom-left-radius: 99px;
        background-color: colors.$dark-bright-blue;
        color: colors.$background;
    }
    &.--desktop {
        border-top-right-radius: 99px;
        border-bottom-right-radius: 99px;
        background-color: white;
        color: colors.$dark-bright-blue;
    }
}