@import './defaultFonts';

@mixin resetButton() {
    background: none;
    border: none;
    border-radius: 1rem;
    color: inherit;
    cursor: pointer;
    font-family: $font-family;
    padding: 0;
  }